Source: gvoc
Section: devel
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Uploaders: 
  Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
  libboost-dev,
  libqt4-dev,
  libqjson-dev,
  qtmobility-dev,
  debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/gvoc
Vcs-Git: git://github.com/pippijn/gvoc
Vcs-Browser: https://github.com/pippijn/gvoc

Package: gvoc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Build system on top of autotools
 TODO.
