#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DESTDIR = $(CURDIR)/debian/tmp

prefix = /usr

%:
	dh $@

.PHONY: override_dh_auto_install
override_dh_auto_install:
	mkdir -p $(DESTDIR)$(prefix)/bin
	cp gvoc $(DESTDIR)$(prefix)/bin

.PHONY: override_dh_install
override_dh_install:
	dh_install --fail-missing
